.App {
  text-align: center;
}

.draw-dot-container {
  height: 500px;
  position: relative;
}

.dot {
  position: absolute;
  background-color: #000000;
  height: 5px;
  width: 5px;
  border-radius: 50%;
}

.colon {
  font-size: 2rem;
  color: #ccc;
  width: 1rem;
}

::placeholder {
  text-align: center; 
}
