.App {
  text-align: center;
}

.draw-dot-container {
  height: 500px;
  position: relative;
}

.dot {
  position: absolute;
  background-color: #000000;
  height: 5px;
  width: 5px;
  border-radius: 50%;
}

.countdown-container {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
  align-items: center;
}

.countdown-item {
  flex: 0 1 120px;
}

.countdown-item input {
  width: 80px;
  height: 80px;
  font-size: 2.5rem;
  color: #000;
  outline: none;
}

.colon {
  font-size: 2rem;
  color: #ccc;
  width: 1rem;
}

::placeholder {
  text-align: center; 
}
